.lead__header {
  padding-top: 165px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  opacity: 0.5;
}

/* LEAD TEXT */
.lead__title {
  padding-top: 64px;
}

.lead__title-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 120px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 1824px;
}

.inline-img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-left: 28px;
  margin-right: 28px;
}

/* BUTTON */
.lead__callback {
  padding: 96px 0 165px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button__callback {
  position: relative;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0 40px;
  height: 80px;
  max-width: 1210px;
}

.button__callback::before,
.button__callback::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
}

.button__callback::before {
  left: -40px;
  border-left: 40px solid #fff;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.button__callback::after {
  right: -40px;
  border-right: 40px solid #fff;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  min-width: 1210px;
  max-width: 1824px;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: -1;
}
