.lead__header {
  padding-top: 165px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  opacity: 0.5;
}

.lead__title {
  padding-top: 64px;
}

.lead__title-text {
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lead__callback {
  padding-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button__callback {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
  padding: 0 20px;
  width: auto;
  min-width: 292px;
  height: auto;
  min-height: 80px;
  z-index: 1;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  min-width: 1210px;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: -1;
}
