* {
  box-sizing: border-box;
}

.root {
  --font-family: "Golos Text", sans-serif;
  background-color: #000;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
